<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <html>
  <body>
    <details class="all_coins">
      <summary>
        <span class="sprite salbanie" title="Abkhazia"></span>
        " Abkhazia"
      </summary>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a> " 1231"
    </details>
    <details class="all_coins">
      <summary>
        <span class="sprite salbanie" title="Abkhazia"></span>
        " Abkhazia"
      </summary>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
    </details>
    <details class="all_coins">
      <summary>
        <span class="sprite salbanie" title="Abkhazia"></span>
        " Abkhazia"
      </summary>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
    </details>
    <details class="all_coins">
      <summary>
        <span class="sprite salbanie" title="Albania"></span>
        " Albania"  
      </summary>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
    </details>
    <details class="all_coins">
      <summary>
        <span class="sprite salbanie">" Albania"</span>
        Albania › Albanian cities › Drivast, City of 
      </summary>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
      <a href="https://en.numista.com/catalogue/pieces125779.html">5 Qindar Leku</a>
    </details>
  </body>
</html>
</html>
